* {
    margin: 0;
    padding: 0;
}

#upper-navbar {
    background-color: #131921;
    height: 57px;
    width: 1500px;
    display: flex;
}

#main-logo {
    width: 130px;
    height: 50px;
    text-align: center;
}

#main-logo>img {
    width: 95px;
    height: 30px;
    position: relative;
    top: 14px;
    margin: auto;
}



#deliver>img {
    width: 23px;
    height: 19px;
    filter: invert(100%);
    position: relative;
    top: 20px;
}